body {
    background: radial-gradient(circle at 10% 20%, rgb(250, 249, 246) 0%, rgb(250, 249, 246) 90%) !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    padding-left: 10%;
    padding-right: 10%;
    color: black !important;
    padding-top: 10%;
}

a:link, a:visited, a:active {
    color: black;
    text-decoration: none;
}

a:hover {
    color: lightgray;
    text-decoration: none;
}

.menu-bar {
    display: flex;
    float: center;
}

.navbar.fixed-top.navbar-expand-md.navbar-dark.bg-dark {
    background: radial-gradient(circle at 10% 20%, rgb(250, 249, 246) 0%, rgb(250, 249, 246) 90%) !important;
}

.btn.btn-outline-secondary {
    font-size: 20px;
    color: black;
    border: none;
    width: auto;
}

.btn.btn-outline-secondary:hover {
    transform: translateY(-1px);
}

h1 {
    color: black !important;
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
    font-weight: bold !important;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.home {
    min-height: 20%;
    object-fit: contain;
    padding-bottom: 100%;
}

.home_content {
    max-width: 50%;
    max-height: 50%;
    float: left;
    text-align: left;
    padding: 20px;
}

.home_content_text {
    padding-top: 5%;
}

.social_media_home-section {
    .fa-github {
        color: black;
    }
    .fa-linkedin {
        color: black;
    }
    .fa-github, .fa-linkedin {
        display: inline-block !important;
        padding: 2% 2% 2% 2% !important;
    }
}

.social_media_header {
    position: absolute;
    float: left;
    font-size: 20px;
    left: 0;
    top: 0;
    padding-right: 10%;
    .fa:hover {
        transform: translateY(-1px) !important;
    }
}

.button-container {
    padding-top: 5%;
    flex-direction: row;
}

.home_section_button{
    min-width: 35%;
    max-width: 40%;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: white;
    background-color: black;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    padding: 5%;
    
}

.home_section_button:hover {
    background-color: darkred;
    box-shadow: 0px 15px 20px rgba(192, 0, 0, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.headshot {
    float: right;
    opacity: 90%;
    max-width: 50% !important;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    transform: translateY(-4px);
}

.about {
    padding-top: 10%;
    padding-bottom: 100%;
    p {
        float: right;
        padding-left: 1%;
        max-width: 49%;
        text-align: justify;
    }

    .about_image {
        float: left;
        max-width: 49%;
        border: 1px solid rgba(0, 0, 0, 0.5);
        box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
    }
}

.portfolio {
    padding-top: 10%;
    padding-bottom: 100%;
    font-size: medium;
}

.portfolio-skills {
    float: left;
    max-width: 50%;
}

.portfolio-career-highlights {
    float: right;
    max-width: 50%;
    .img-fluid {
        max-width: 65%;
    }
}

ul {
    list-style-type: disc;
}

.link-primary {
    text-decoration: underline !important;
}

.contact {
    padding-top: 10%;
    padding-bottom: 100%;
}

input[type=text], select, textarea {
    width: 100% !important;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit], input[type=reset] {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover, input[type=reset]:hover {
    background-color: darkred;
    box-shadow: 0px 15px 20px rgba(192, 0, 0, 0.4);
    color: #fff;
    transform: translateY(-1px);
}

.contact_container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

@media screen and (max-width: 780px) {
    .button-container {
        padding-top: 20%;
        flex-direction: column;
    }
    .home {
        padding-bottom: 120%;
    }

    .home_content {
        text-align: left;
    }

    .home_section_button {
        min-width: 100%;
    }

    .social_media_header {
        display: none;
    }

    .social_media_home-section {
        .fa-github, .fa-linkedin {
            display: inline-block;
            padding: 5% 5% 5% 5%;
        }
    }

    .headshot {
        padding-top: 20%;
        opacity: 90%;
        float: right;
        max-width: 50%;
    }

    .about {
        padding-top: 20%;
        padding-bottom: 190%;
        .about_image {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        p {
            text-align: justify;
            max-width: 100%;
            padding-top: 5%;
        }
    }
    
    .portfolio {
        padding-top: 20%;
        padding-bottom: 190%;
    }

    .portfolio-skills {
        float: center;
        max-width: 100%;
    }
    
    .portfolio-career-highlights {
        padding-top: 10%;
        float: center;
        max-width: 100%;
    }
    
    .contact {
        padding-top: 20%;
        padding-bottom: 190%;
    }
}

@media screen and (max-width: 375px) {
    .button-container {
        padding-top: 20%;
        flex-direction: column;
    }

    .home {
        padding-top: 10%;
    }

    .home_section_button {
        min-width: 100%;
    }

    .social_media_header {
        display: none;
    }

    .social_media_home-section {
        .fa-github, .fa-linkedin {
            display: inline-block;
            padding: 5% 5% 5% 5%;
        }
    }

    .headshot {
        padding-top: 50%;
        min-width: 40%;
    }

    .about {
        padding-top: 30%;
        padding-bottom: 100%;
        p {
            max-width: 100%;
        }
    }

    .about_image {
        display: none;
    }
    
    .portfolio {
        padding-top: 30%;
        padding-bottom: 100%;
    }

    .portfolio-skills {
        float: center;
        max-width: 100%;
    }
    
    .portfolio-career-highlights {
        padding-top: 10%;
        float: center;
        max-width: 100%;
    }
    
    .contact {
        padding-top: 30%;
        padding-bottom: 100%;
    }
}