<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Zev Rosenbaum</title>
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Add bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
        <!-- Add bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        
        <!-- header  -->
        <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
            <div class="container d-flex justify-content-center">
                <div class="page-header">
                    <div class="social_media_header">
                        <a href="https://www.linkedin.com/in/zevrosenbaum82" target="_blank" class="fa fa-linkedin" title="LinkedIn Link: https://www.linkedin.com/in/zevrosenbaum82"></a>
                        <a href="https://github.com/zevrosenbaum" target="_blank" class="fa fa-github" title="GitHub Link: https://github.com/zevrosenbaum"></a>
                    </div>
                    <div class="menu-bar">
                        <div class="btn-group" role="group" aria-label="menu bar">
                            <td><button class="btn btn-outline-secondary" onclick="link('#home')">Home</button></td>
                            <td><button class="btn btn-outline-secondary" onclick="link('#about')">About</button></td>
                            <td><button class="btn btn-outline-secondary" onclick="link('#portfolio')">Portfolio</button></td>
                            <td><button class="btn btn-outline-secondary" onclick="link('#contact')">Contact</button></td>
                            <td><button class="btn btn-outline-secondary" onclick="link('#hireme')">Hire Me</button></td>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <!-- home section -->
        <nav class="nav justify-content-center">
            <div class="home" id="home">
                <!-- headshot/photo -->
                <div class="headshot">
                    <img src="../static/profile_picture-modified.png" class="img-fluid" alt="Headshot of Zev Rosenbaum">
                </div>
                <div class="home_content">
                    <h1>Zev Rosenbaum</h1>
                    <p class="home_content_text">Zev is a Software Engineer passionate about using technology to improve the world around him.</p>
                    <div class="social_media_home-section">
                        <a href="https://www.linkedin.com/in/zevrosenbaum82" target="_blank" class="fa fa-linkedin" title="LinkedIn Link: https://www.linkedin.com/in/zevrosenbaum82"></a>
                        <a href="https://github.com/zevrosenbaum" target="_blank" class="fa fa-github" title="GitHub Link: https://github.com/zevrosenbaum"></a>
                    </div>
                    <div class="button-container">
                        <button onclick="link('#portfolio')" class="home_section_button one">View Work</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button onclick="link('#hireme')" class="home_section_button two">Hire Me</button>
                    </div>
                </div>
            </div>
        </nav>

        <!-- about -->
        <nav class="nav justify-content-center">
            <div class="about" id="about">
                <h1>About</h1>
                <p>Zev Rosenbaum is a Software Engineer based in the Washington, DC area. 
                He first learned to code in middle school and immediately started building his own websites. 
                <br><br>Zev started his career as a Financial Analyst before rediscovering his passion for computers. 
                Zev spent two years pursuing a new degree in Computer Science to transition his career. While 
                attaining his degree, Zev completed two Software Engineer internships at Nordstrom and 
                Qualtrics. <br><br>Zev enjoys learning new technologies and sharing his passion with the world. 
                Please do not hesitate to reach out!</p>
            </div>
        </nav>

        <!-- portfolio -->
        <nav class="nav justify-content-center">
            <div class="porfolio" id="portfolio">
                See my GitHub
            </div>
        </nav>

        <!-- contact -->
        <nav class="nav justify-content-center">
            <div class="contact" id="contact">
                See my GitHub
            </div>
        </nav>

        <!-- hire me -->
        <nav class="nav justify-content-center">
            <div class="hireme" id="hireme">
                See my GitHub
            </div>
        </nav>

        <!-- javascript -->
        <script>
            function link(link) {
                window.location.href=link;
            }
        </script>
    </body>
</html>