<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Zev Rosenbaum</title>
        <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Add bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
        <!-- Add bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        
        <!-- header  -->
        <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
            <div class="container d-flex justify-content-center">
                <div class="page-header">
                    <div class="social_media_header">
                        <a href="https://www.linkedin.com/in/zevrosenbaum82" target="_blank" class="fa fa-linkedin" title="LinkedIn Link: https://www.linkedin.com/in/zevrosenbaum82"></a>
                        <a href="https://github.com/zevrosenbaum" target="_blank" class="fa fa-github" title="GitHub Link: https://github.com/zevrosenbaum"></a>
                    </div>
                    <div class="menu-bar">
                        <div class="btn-group" role="group" aria-label="menu bar">
                            <td><button class="btn btn-outline-secondary" onclick="link('#')">Home</button></td>
                            <td><button class="btn btn-outline-secondary" onclick="link('#about')">About</button></td>
                            <td><button class="btn btn-outline-secondary" onclick="link('#portfolio')">Portfolio</button></td>
                            <td><button class="btn btn-outline-secondary" onclick="link('#contact')">Contact</button></td>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <!-- home section -->
        <nav class="nav justify-content-center">
            <div class="home" id="home">
                <!-- headshot/photo -->
                <div class="headshot">
                    <img src="../static/professional.png" class="img-fluid" alt="Headshot of Zev Rosenbaum">
                </div>
                <div class="home_content">
                    <h1>Zev Rosenbaum</h1>
                    <div class="row">
                        <p class="home_content_text">Zev is a Software Engineer passionate about using technology to improve the world around him.</p>
                    </div>
                    <div class="social_media_home-section">
                            <a href="https://www.linkedin.com/in/zevrosenbaum82" target="_blank" class="fa fa-linkedin" title="LinkedIn Link: https://www.linkedin.com/in/zevrosenbaum82"></a>
                            <a href="https://github.com/zevrosenbaum" target="_blank" class="fa fa-github" title="GitHub Link: https://github.com/zevrosenbaum"></a>
                    </div>
                    <div class="row">
                        <div class="button-container">
                            <button onclick="link('#portfolio')" class="home_section_button one">View Work</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button onclick="link('#contact')" class="home_section_button two">Contact Me</button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <!-- about -->
        <nav class="nav justify-content-center">
            <div class="about" id="about">
                <h1>About</h1>
                <div class="about_image">
                    <img src="../static/profile_picture.jpeg" class="img-fluid" alt="Portrait of Zev Rosenbaum">
                </div>
                <p>Zev Rosenbaum is a Software Engineer based in the Washington, DC area. 
                He first learned to code in middle school and immediately started building his own websites. 
                <br><br>Zev started his career as a Financial Analyst before rediscovering his passion for computers. 
                Zev spent two years pursuing a new degree in Computer Science to transition his career. While 
                attaining his degree, Zev completed two Software Engineer internships at Nordstrom and 
                Qualtrics. <br><br>Zev enjoys learning new technologies and sharing his passion with the world. 
                Please do not hesitate to reach out!</p>
            </div>
        </nav>

        <!-- portfolio -->
        <nav class="nav justify-content-center">
            <div class="portfolio" id="portfolio">
                <h1>Portfolio</h1>
                <div class="portfolio-skills">
                    <h3>Skills</h3>
                    <b>Programming Languages (in order of proficiency)</b>
                    <ul>
                        <li>Python</li>
                        <li>Java</li>
                        <li>JavaScript / TypeScript</li>
                        <li>HTML / CSS</li>
                        <li>SQL</li>
                        <li>C / C++</li>
                        <li>R</li>
                    </ul>
                    <b>Software Engineering Technologies</b>
                    <ul>
                        <li>Flask</li>
                        <li>RestAPI</li>
                        <li>ReactJS</li>
                        <li>Git</li>
                        <li>Visual Studio Code</li>
                        <li>SageMaker</li>
                        <li>AWS</li>
                        <li>Google Cloud</li>
                        <li>Vim</li>
                        <li>Jenkins</li>
                        <li>Docker</li>
                    </ul>
                    <b>Check out my <a href="https://github.com/zevrosenbaum" target="_blank" title="GitHub Link: https://github.com/zevrosenbaum" class="link-primary">GitHub</a> 
                        and <a href="../static/Zev_Rosenbaum_Resume-list.pdf" target="_blank" title="Link to the Resume of Zev Rosenbaum" class="link-primary">Resume</a></b>
                </div>
                <div class="portfolio-career-highlights">
                    <h3>Career Highlights</h3>
                    <ul>
                        <li><b>Nordstrom Resale Platform</b><br><i>Ranked Top 5 at Spring 2023 Nordstrom Hackathon</i></li>
                            <ul>
                                <li>Worked within a cross-functional team to design and demo a prototype for 
                                    a clothing resale site that was ranked a Top 5 project by a panel of executives.</li>
                                <li>Drafted an item selection model with logic based upon brand popularity and 
                                    inventory level that determined which products are eligible for resell.</li>
                                <li>Deployed a backend REST API written in Java to Kubernetes to implement the data pipeline.</li>
                                <li>Leveraged Figma to sketch a user interface and promotional email to provide a proof-of-concept of the resale platform.</li>
                            </ul>
                        <br>
                        <li><b>Flag Lookup App</b><br><i>Implemented with deep learning</i></li>
                            <ul>
                                <li>Program that identifies the country based on a user-uploaded image.</li>
                                <li>Quantified the similarity between two images by applying a contrastive language-image pre training (CLIP)-based pre-trainined model from OpenAI.</li>
                            </ul>
                            Demo below:<br>
                            <img src="../static/flag_lookup_demo.gif" class="img-fluid" alt="Demo of Flag Lookup App">
                            <br>*See more info at the project's <a href="https://github.com/ZevRosenbaum/flag_lookup_app" target="_blank" title="GitHub Repo for Flag Lookup App: https://github.com/ZevRosenbaum/flag_lookup_app" class="link-primary">GitHub repository</a>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- contact -->
        <nav class="nav justify-content-center">
            <div class="contact" id="contact">
                <h1>Contact</h1>
                <div class="contact_container">
                    <form method="post" action="https://getform.io/f/66d83cf3-10c7-4c2b-b41c-dfdf5de93f15" id="form" name="form">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" placeholder="John Doe" style="padding: 1%; margin-bottom: 2%;" required>
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="johndoe@example.com" style="width: 100%; padding: 1%; margin-bottom: 2%;" required>
                        <label for="message">Message</label>
                        <textarea id="message" name="message" placeholder="Enter message here..." style="height: 200px; margin-bottom: 2%;" required></textarea>
                        <!-- add hidden Honeypot input to prevent spams -->
                        <input type="hidden" name="_gotcha" style="display:none !important">
                        <input type="submit" value="Send Message" style="width: 100%; margin-bottom: 2%;">
                        <input type="reset" value="Clear" style="width: 100%;" onclick="clear_contents()">
                    </form>
                </div>
            </div>
        </nav>

        <!-- javascript -->
        <script>
            function link(link) {
                window.location.href=link;
            }

            function clear_contents() {
                document.getElementById('name') = "";
                document.getElementById('email') = "";
                document.getElementById('message') = "";
            }
        </script>
    </body>
</html>